<html>
   
<body>
    <%- include('./layouts/header'); %>
        <main>
            <div class="ui segment">
                <h1>Welcome to URL Shortener</h1>
                <p>This is service allows you to shorten any URL you want.<br><b>Authentication required for this service.</b></p>
                <button class="ui secondary button">Sign In</button>
                <button class="ui button">Sign Up</button>
            </div>
        </main>



</body>

</html>