<html>

<body>
    <%- include('./layouts/header'); %>
        <main>
            <div class="ui segment">
                <h1>Shorten your URI with one click</h1>
                <br>
                <div class="ui fluid action input">
                    <input type="text" placeholder="Past uri here...">
                    <button class="ui secondary button">Shorten</button>
                  </div>

                <br>
            </div>
        </main>



</body>

</html>